
#content p {
    font-size: 100px;
}

.animate {
    animation: fadeIn 500ms ease-out backwards;
}

@keyframes fadeIn {
    from {
        transform: translateX(250px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
